<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/6492934a21.js" crossorigin="anonymous"></script>
    <title>Clothing</title>
    <link rel="stylesheet" type="text/css" href="/static/about.css">
</head>
<body>
    <header class="navbar"> 
        <div class="container flex">
            <h1 class="logo"> About</h1>
            <nav>
                <ul class="linkButtons">
                    <li><a href="/home/"> Home </a></li>
                    <li> <a href="/gallery/"> Gallery </a></li>
                    <li><a href="/about/"> About </a></li>
                    <li><a href="/random/"> Random </a></li>
                    <li><a href="/admin/">Admin Login</a></li>
                    <a href=> </a>
                </ul>
            </nav>
        </div>
    </header>

    <section class="showcase">
        <div class="container grid">
            <div class="picture">
                <figure>
                    <img src="/static/images/me.JPG" alt="Author">
                    <figcaption>Jenni, Site Author</figcaption>
                </figure>
            </div>

            <div class="showcase-text">
                <p class="welcome">  
                    Hello everyone!  Welcome to the Southern Ohio Creations site.  We are a small family owned business in southern Ohio.
                    We have been doing custom screen printing and embroidery for six years.  We take pride in our work and hope we are serving our customers in a timely and appropriate manner.  We work with schools, businesses, churches and any other organization or individual that is looking for custom apparell.
                </p>
            </div>
            <div class="contact">
                Please feel free to leave a comment or suggestion for a design. If you have any questions
                feel free to reach out to me here or by email.<br> Contact me<br>
                <a>jenni.hupp@bryanuniversity.edu</a><br> 1-800-111-1111<br>
            </div>
        </div>
        <footer>
            All designs on this page are property of Southern Ohio Creations, LLC. <br> Have a great day! <a> http://127.0.0.1:8000/home.html</a>  &copy; Copyright 2023 Jenni. Hupp.
        </footer>
    </section>  
    
</body>
</html>