<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/contactus.css">
    <title>Document</title>
</head>
<body>
    <header class="navbar"> 
        <div class="container flex">
            <h1 class="logo">Contact Us</h1>
            <nav>
                <ul class="linkButtons">
                    <li><a href="/home/"> Home </a></li>
                    <li> <a href="/gallery/"> Gallery </a></li>
                    <li><a href="/about/"> About </a></li>
                    <li><a href="/contactus/"> Contact Us </a></li>
                    <li><a href="/admin/">Admin Login</a></li>
                    
                </ul>
            </nav>
        </div>
    </header>
    <div> 
        <p class="form">
        
            Wanting to submit a design idea?  Email us to inquire about having your design showcased on apparell!
            <div class="mycontainer">
                <img src="images/design.jpg" alt="AI">
                        
            </div>
            <br>
            <form> 
                <div class="form-control">
                    <input type="text" name="name" placeholder="Name">
                </div>
                <div class="form-control">
                    <input type="email" name="email" placeholder="Email" required>
                </div>
                <div class="form-control">
                    <input type="img" name="Design" placeholder="Design">
                </div>
                <input type="submit" value="Submit" class="btn btn-primary">
            </form>
            <br>
            <br>
        </p>
        </div>
</body>
</html>