<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="navbar"> 
        <div class="container flex">
            <h1 class="logo">Random</h1>
            <nav>
                <ul class="linkButtons">
                    <li><a href="/home/"> Home </a></li>
                    <li> <a href="/gallery/"> Gallery </a></li>
                    <li><a href="/about/"> About </a></li>
                    <li><a href="/random/"> Random </a></li>
                    <li><a href="/admin/">Admin Login</a></li>
                    <a img src= "https://cdn.stampr.io/tenant_35KbBgAjVL9T0EM0WyalD4/f/ih2d-activewear_raglans_and_sport_tees_1024x.jpg"</a>
                </ul>
            </nav>
        </div>
    </header>
    <div> Wanting to submit a design idea?  Email us to inquire about having your design showcased on apparell!
            <br>
            <form> 
                <div class="form-control">
                    <input type="text" name="name" placeholder="Name">
                </div>
                <div class="form-control">
                    <input type="email" name="email" placeholder="Email" required>
                </div>
                <div class="form-control">
                    <input type="img" name="Design" placeholder="Design">
                </div>
                <input type="submit" value="Submit" class="btn btn-primary">
            </form>
            <br>
            <br>
            
    </div>
</body>
</html>